<!DOCTYPE html>
<html>
 <head profile="http://www.w3.org/2005/10/profile">
<link rel="icon" 
      type="image/png" 
      href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhD4OPIUFAMBfcuJZTQyPToxDaHKQ06vnVb7HzyNr0q9_UsGGzsQ">
   
  <meta charset="UTF-8">
  <title>YelpHelp</title>
 
   <link rel="stylesheet" href="style.css" type="text/css">
   <style>
     body { 
       background-image: url(http://bridgetoworlds.com/wp-content/uploads/sites/7/2014/12/california-san-francisco-golden-gate-bridge-1.jpg);
    background-size: 100% ;
    background-repeat: no-repeat;
     
     
     
     
     }  
     h2{
       font-size: 200%
       
       
     }
     
     a{
       
       color: black;
       text-decoration: none;
     }
     
     #start{
       position: absolute;
    bottom: 1100;
    right: 50%;
   left: 44%;
   width: 100px;
    top: 165px; 
     }
     
   </style>
 </head>
 <body>
  
   

   <br>
   <br>
   <br>
   <h1><center>Welcome to YelpHelp the App for all of Your Local Restraunt Needs!<br> Click the Button Below to Start!</center></h1>
   <a href="data"><h2><center><img src="https://mail.google.com/mail/u/0/?ui=2&ik=defddd9d44&view=att&th=14edae916da7693d&attid=0.1&disp=safe&realattid=f_icp26b540&zw"></center></h2> </a>
   <font color="black" size="150%"><a href="http://nbjmcclellan-pc-15-precollege-se1-aus-072015-1-114151.nitrousapp.com:3000/data"><h3 id=start> START </h3></a></font>
  </body>
</html>