<!DOCTYPE html>
<html>
 <head profile="http://www.w3.org/2005/10/profile">
<link rel="icon" 
      type="image/png" 
      href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhD4OPIUFAMBfcuJZTQyPToxDaHKQ06vnVb7HzyNr0q9_UsGGzsQ">
  <style>
    body { 
       background-image: url(http://www.bucketlistpublications.com/wp-content/uploads/2014/01/Hotel-Beach004.jpg);
    background-size: 100% ;
    background-repeat: no-repeat;
     
     
     
     
     } 
    a{
       
       color: black;
       text-decoration: none;
     }
    p{
     font_size: 200% 
      
      
    }
    #restart{
       position: absolute;
    bottom: 1100;
    right: 50%;
   left: 41%;
   width: 100px;
    top: 185px; 
     }
    
   </style>
   
   
   
   <meta charset="UTF-8">
  <title>Results Page </title>
  <link rel="stylesheet" href="style.css" type="text/css">
 </head>
 <body>
  
   <font size="200%" color="yellow"> <center><p> Thanks for using our application to help you Yelp! If you want to have another suggestion, click below. </p></center></font>

  <a href="/"><h2><center><img src="https://mail.google.com/mail/u/0/?ui=2&ik=defddd9d44&view=att&th=14edae916da7693d&attid=0.1&disp=safe&realattid=f_icp26b540&zw"></center></h2> </a>
    <font color="black" size="150%"><a href="/"><h3 id=restart> RESTART </h3></a></font>
  </body>
</html>